{% extends "layout.html" %}
{%block basecontent%}
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">TrakiMe</p>
                
                <p>“Beware of little expenses, a small leak will sink a great ship.” – Benjamin Franklin<div class='parent'>
                    <div class="center">
                    <div class='child inline-block-child'><a href="/login"><button type="button" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login me In</button></a><br></div>
                    <div class='child inline-block-child'><a href="/register"><button type="button" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Register me</button></a><br></div>
                  </div></div>
            </div>
        </div>
    </div>
</section>
{% endblock basecontent %}